$clickable-active-color: #0bb798;

$clickable-background-dark: #484848;
$clickable-hover-dark: #5f5f5f;
$clickable-border-dark: $carbon--gray-80;

$clickable-background-light: #e0e0e0;
$clickable-hover-light: #b0b0b0;
$clickable-border-light: $carbon--white-0;